# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:${MYSQL_USER_PASSWORD}@localhost:3306/${MYSQL_DATABASE}"
PORT=3100
JWT_EXPIRES="8h"
JWT_SECRET=zjP9h6ZI5LoSKCRj
MYSQL_ROOT_HOST=%
MYSQL_ROOT_PASSWORD=mypassword
MYSQL_USER_NAME=root
MYSQL_USER_PASSWORD=mypassword
MYSQL_DATABASE=mkw_db
SWAGGER_USER=admin
SWAGGER_PASSWORD=p4ssw0rd
CORS_URL="http://localhost:3000"